body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 0px;
}

.create-notes-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='text'] {
  padding: 16px;
  color: #7c7c7c;
  font-size: 24px;
  width: 311px;
  height: 88px;
  border-radius: 16px;
  border: 2px solid #4f4f4f;
  margin-top: 16px;
}

input[type='text']::placeholder {
  position: absolute;
  top: 16px;
  color: #bdbdbd;
  font-size: 24px;
}

input[type='submit'] {
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  width: 343px;
  height: 45px;
  background-color: #4F4F4F;
  color: white;
  border-radius: 16px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: none;
}

input[type='submit']:hover {
  background-color: #6b6b6b;
}
input[type='submit']:active {
  background-color: #0f004d;
}

.error-text {
  color: darkred;
  margin: 0px;
  font-weight: 700;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-container div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 311px;
  height: auto;
  border-radius: 16px;
  border: 2px solid #4f4f4f;
  margin-bottom: 16px;
  justify-content: flex-end;
}

.notes-container p {
  margin: 0px;
  font-size: 24px;
  text-align: left;
  line-height: 28.8px;
  margin-bottom: 16px;
}

.notes-container button {
  cursor: pointer;
  font-weight: 700;
  color: #4F4F4F;
  font-size: 18px;
  width: 83px;
  height: 30px;
  border-radius: 16px;
  background-color: #E0E0E0;
  border: none;
  align-self: flex-end;
}

.notes-container button:hover {
  background-color: #888888;
  color: white;
}
.notes-container button:active {
  background-color: #0f004d;
  color: white;
}

/* Media query for tablet devices */
@media (min-width: 768px) {
  input[type='text'] {
    width: 700px;
  }
  input[type='submit'] {
    width: 730px;
  }
  .notes-container div {
    width: 700px;
  }
}

/* Media query for desktop devices */
@media (min-width: 1024px) {
  input[type='text'] {
    width: 1000px;
  }
  input[type='submit'] {
    width: 1040px;
  }
  .notes-container div {
    width: 1000px;
  }
}
