body {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  h1 {
    font-weight: 700;
    font-size: 32px;
  }

  .create-notes-container {
    display: flex;
  }
  
  /* Media query for tablet devices */
  @media (min-width: 768px) {
    body {
      font-size: 18px;
    }
    
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  
  /* Media query for desktop devices */
  @media (min-width: 1024px) {
    body {
      font-size: 20px;
    }
    
    .container {
      max-width: 960px;
    }
  }